body {
    background-color: rgb(218, 218, 218);
  }
  
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  img {
    width: 500px;
    margin-top: 50px;
  }
  
  @media only screen and (max-width: 770px) {
    .container {
      margin: 0 10%;
    }
  
    .image {
      width: 100%;
    }
  }
  